<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>Network_Automation
    <button onclick="document.location='http://127.0.0.1:5000/'">Home</button>
</h1>
<h2>Automate Your IT: Take the next step in digital transformation by virtualizing and automating 
    network and security operations – an area of infrastructure that’s traditionally been largely hardware-based and required manual provisioning and management.</h2>



</body>
</html>