<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="static/css/style1.css">
</head>
<div class="container"style="text-align:center">
  <h1>Add New device</h1>
  <form method="POST" action="/device_setting">
    {{form.hidden_tag()}}
    <br>
    {{form.device_name}}
    <br>
    {{form.device_ip}}
    <br>
    {{form.device_vendor}}
    <br>
    {{form.username}}{{form.password}}
    <br>
    {{form.comment}}
    <br>
    {{form.submit}}
    <p>Cancel ?<a href="{{url_for('device')}}">Click</a>.</p>
  </form>
  <style>
    body {
    background-image: url('static/image/tree6.png');
  
    }
    </style> 
  
  </body>

</html>