<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bhaskar</title>
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>Network_Automation &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <button onclick="document.location='http://127.0.0.1:5000/login'">Login</button>
    <button onclick="document.location='http://127.0.0.1:5000/about'">About</button>
    <button onclick="document.location='http://127.0.0.1:5000/contact'">Contact</button>

</h1>

</body>
</html> 