<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Login</title>
<link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
<div class="container"style="text-align:center">
<h1>Login</h1>
<form method="POST" action="">
  {{form.hidden_tag()}}
  {{form.username}}<br>
  <br>
  {{form.password}}<br>
  <br>
  {{form.submit}}
  <p>Forgot Password? <a href="{{url_for('home')}}">Click</a>.</p>  
</form>
<style>
  body {
  background-image: url('static/image/tree6.png');

  }
  </style> 
<br>
<br>
<br>
<br>  
<br>
<br>
<img src="static/image/cisco.jpg"  width="120" height="100" class="img-rounded">
<img src="static/image/Check.png"  width="120" height="100"class="img-rounded">
<img src="static/image/paloalto.jpg"  width="120" height="100"class="img-rounded">
<img src="static/image/juniper.png"  width="120" height="100"class="img-rounded">
<img src="static/image/Fortinet.png"  width="120" height="100"class="img-rounded">
<img src="static/image/Huawei.png"  width="120" height="100"class="img-rounded">
<img src="static/image/nokia.jpg"  width="120" height="100"class="img-rounded">
<img src="static/image/dell.png"  width="120" height="100"class="img-rounded">
<img src="static/image/cyber.png"  width="120" height="100" style="position:fixed;right:700px;bottom:20px;"class="img-rounded">
<img src="static/image/Avaya.png"  width="120" height="100" style="position:fixed;right:500px;bottom:20px;"class="img-rounded">
</body>
</html> 